@use "layaout/button";
@use "layaout/navbar";
@use "layaout/footer";

@keyframes box-animation{
    0%{background-color: black;}
    50%{background-color: #206b75;}
    100%{background-color: black;}
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*inicio de edicion de main del sitio web*/
main a{
    text-decoration: none; 
    color:#f0ebe6;
}

/*seccion 1 del index*/

.inicio .section-1{
    background-image: url("https://images.pexels.com/photos/16129688/pexels-photo-16129688.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.section-1__container{
    @extend .flex-col-center;
    width: auto;
    height: auto;
    max-width: 78%;
    padding:  10px 10px;
    background-color: #206b75;
    text-align: center;
    border: 2px solid white;
    border-radius: 15px;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    left: 1.8em;
    top: 2em;;
    gap: 10px;
    opacity: 80%;
}

.section-1__title{
    line-height: 0.9;
    color: #f0ebe6;
    font-size: 30px;
}

.section-1__paragraph{
    font-size: 16px;
    color: #f0ebe6;
}

.section-1__btn{
    position: relative;
    background-color: #262727;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    bottom: 0.5%;
}

.section-1__img{
    display: none;
}

/*seccion 2 del index*/
.section-2{
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.section-2__title{
    text-align: center;
    position:relative;
    top: 20px;
    color: #f0ebe6;
    font-size: 22px;
}

.section-2__container{
    @extend .flex-col-center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 50px ;
    gap: 15px;
}

.section-2__img img{
    width: 100px;
    height: auto;
}

.section-2__paragraph{
    font-size: 14px;
    color: #f0ebe6;
    position: relative;
    width: 60%;
    text-align: center;
    margin: 40px auto;
}

/* seccion 3 del index*/
.section-3{
    min-height: 100vh;
    background-color: #a69e9e;
    overflow: hidden;
}

.section-3__container{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "titulo-s3"
        "img-s3"
        "t1"
        "btn-s3"
        "t2";
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    margin: 0 auto;
    top: 2%;
}

.section-3__title{
    grid-area: titulo-s3;
    color: white;
    font-size: 25px;
}
.section-3__img{
    grid-area: img-s3;
    width:100%;
    height: auto;
    margin: 0 auto;
}

.section-3__text-1{
    grid-area: t1;
    font-size: 18px;
    color: white;
}
.section-3__text-2{
    grid-area: t2;
    font-size: 22px;
    color: white;
}

/*paginas secundarias*/

.pagina-secundaria .s1{
    background-color:#a69e9e;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*seccion 1 del about-me*/
.about-me__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aboutme-h1"
    "perfil"
    "aboutme-p2"
    "aboutme-p1";
    width: 60%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 5%;
    gap: 15px;
}

.about-me__title{
    color: white;
    font-size: 45px;
    grid-area: aboutme-h1;
    font-family: "Inter",sans-serif;
    font-weight: bold;
}
.about-me__perfil{
    grid-area: perfil;
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}

.about-me__text1{
    grid-area: aboutme-p1;
    font-size: 16px;
}

.about-me__text2{
    grid-area: aboutme-p2;
    font-size: 14px;
}

.aboutme-text{
    font-family: "roboto",sans-serif;
    font-weight: bold;
    color: white;
}

/*seccion 1 del projects*/

.projects__title{
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: "Inter",sans-serif;
    font-weight: bold;
    position: relative;
    top: 1%;
}

.projects__container{
    @extend .flex-col-center;
    justify-content: flex-start;
    margin: 0 auto;
    width: 60%;
    gap: 20px;
    position: relative;
    top: 2%;
}

.projects__img{
    width: 100%;
    max-height: 195px;
    text-align: center;
}

.projects__img img{
    width: 100%;
    height: auto;
    max-height: 22vh;
    object-fit: contain;
    border-radius: 8px;
    background-color: #bccacc;
    margin-bottom: 8px;
    
}

/*seccion de services*/
.services__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "services-h1"
    "services-p"
    "box-1"
    "box-2";
    width: 70%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 5%;
    gap: 30px;
    background-color: #7a8485;
    padding: 3% 5% 5%;
    border-radius: 20px;
}

.services__title{
    grid-area: services-h1;
    color: white;
    font-size: 30px;
    font-family: "inter",sans-serif;
}

.services__text{
    grid-area: services-p;
    font-size: 14px;
    color: white;
    font-family: "roboto",sans-serif;
    text-align: center;
}

.services__box1{
    grid-area: box-1;
}

.services__box2{
    grid-area: box-2;
}

.box{
    color: white;
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px 5px;
    animation: box-animation 10s infinite;
}
.box__title{
    font-size: 20px;
    font-family: "roboto",sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.box__text{
    text-align: justify;
    line-height: 1.1;
    font-size: 14px;
}

/*seccion de contact*/

.contacts__container{
    @extend .flex-col-center;
    justify-content: space-around;
    width: 70%;
    height: 80%;
    background-color: #7a8485;
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 10%;
}

.contacts__title{
    font-size: 35px;
    position: absolute;
    top: 5%;
}

.contacts__form{
    width: 80%;
    height: 75%;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
}

.form__input{
    font-size: 24px;
}

.form__textarea{
    height: 60%;
    font-size: 15px;
}


.form__button{
    width: 80px;
    text-align: center;
    margin: 0 auto;
    padding: 8px 10px;
    background-color: #373538;
    color:white;
    border: solid 2px white;
}

.form__button:hover{
    background-color: #206b75;
    transition: 0.5s ease;
}

//agregue un media query mas ya que vi que el codigo no se adaptaba bien a un celular//
@media (min-width:375px){
/*index*/
.section-1 .s1{
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

.section-1__container{
    padding: 3% 5%;
}

.section-1__title{
    font-size: 45px;
}

.section-1__paragraph{
    font-size: 18px;
}

.section-2__title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 60%;
    position: relative;
    margin: 0 auto;
}

.section-2__paragraph{
    width: 50%;
    font-size: 18px;
}

.section-3__title{
    font-size: 35px;
}

.section-3__img{
    max-width: 80%;
}

/*about-me*/
.about-me__container{
    width: 50%;
    gap: 10px;
}

.about-me__title{
    font-size: 40px;
}

.perfil{
    width: 70%;
}

.about-me__text1{
    font-size: 17px;
}


.about-me__text2{
    font-size: 14px;
}

/*projects*/

.projects__title{
    font-size: 40px;
}

.projects__container{
    top: 3%;
    gap: 20px;
}
/*services*/

.services__container{   
    top: 3%;
}

.services__title{
    font-size: 40px;
}

.services__text{
    font-size: 16px;
}

.box__text{
    font-size: 14px;
}
}


@media(min-width: 768px){

    .section-1__container{
        gap: 10px;
    }

    .section-1__title{
        font-size: 50px;
    }

    .section-1__paragraph{
        font-size: 20px;
    }

    .section-1__btn{
        font-size: 24px;
        width: 80%;
    }

    .section-2__title{
        font-size: 34px;
    }

    .section-2__img img{
        width: 110px;
    }

    .section-2__paragraph{
        width: 60%;
        font-size: 22px;
    }

    .section-3__container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "titulo-s3 img-s3"
        "t1 img-s3"
        "t2 btn-s3" ;
        width: 80%;
        top: 20%;
    }
    
    .section-3__title{
        font-size: 60px;
    }

    .section-3__text-1{
        font-size: 20px;
    }

    .section-3__text-2{
        font-size: 24px;
    }

    /*about-me*/

    .about-me__title{
        font-size: 75px;
    }

    .perfil{
        width: 250px;
    }

    .about-me__text1{
        font-size: 18zpx;
    }

    .about-me__text2{
        font-size: 25px;
    }

    /*projects*/

    .projects__title{
        font-size: 60px;
        top: 10%;
    }

    .projects__container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;;
        width: 72%;
        gap: 20px;
        top: 15%;
    }

    .projects__img{
        width: 45%;
        margin-bottom: 0;
    }

    .projects__img:first-child {
        width: 100%;
    }

    .services__container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "services-h1 box-1"
        "services-p box-2";
        width: 70%;
        align-content: center;
        align-items: center;
        background-color: #7a8485;
        padding: 5% 15px;
        border-radius: 20px;
        margin: 0 auto;
    }

    .services__title{
        font-size: 60px;
        text-align: center;
        position: absolute;
        
    }

    .services__text{
        line-height: 1;
        text-align: center;
        font-size: 25px;
        background-color: #373538;
        display: inline-block;
        padding: 10px 5px 10%;
        border-radius: 5px;
        
    }
    
    .services__box1{
        position: relative;
        top: 40%;
    }

    .box__title{
        font-size: 30px;
    }

    .box__text{
        font-size: 22px;
    }
}

@media(min-width: 1024px){

.inicio .section-1{
    background-image: none;
    background-color: #a69e9e;
}

.section-1__container{
    align-items: stretch;
    text-align: start;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 10%;
    right: 40%;
    background:none;
    border: none;
    opacity: inherit;
}

.section-1__title{
    position: relative;
    font-size: 75px;
    color: white;
    margin: 5px;
}

.section-1__paragraph{
    color: white;
    font-size: 25px;
    margin: 5px;
}

.section-1__btn{
    width: 100%;
}

.section-1__btn:hover{
    background-color: #206b75;
}

.section-1__img{
    display: block;
    position: absolute;
    right: 10%;
    top: 15%;
    width: 350px;
    height: auto;
    border: solid 2px white;
}

.section-2__title{
    font-size: 60px;
    top: 90px;
}

.section-2__container{
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 100px;
}

.section-2__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 24px bold;
}

.section-2__img img{
    width: 150px;
    height: auto;
    display: block;
}

.section-2__paragraph{
    font-size: 30px;
    width: 650px;
    font-family: "Intel",sans-serif;
}

.section-3__title{
    font-family: "Roboto", sans-serif;
    font-size: 70px;
}

.section-3__text-1{
    font-family: "Inter",sans-serif;
    font-size: 24px;
}

.section-3__text-2 {
    font-family: "Inter",sans-serif;
    font-size: 28px;
}

/*about-me*/

.about-me__container{
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas:
    "aboutme-h1 perfil"
    "aboutme-p1 perfil"
    "aboutme-p1 aboutme-p2";
    top: 25%;
    width: 90%;
    column-gap: 3rem;
}

.about-me__title{
    font-size: 100px;
    text-align: start;
}

.about-me__text1{
    font-size: 28px;
    text-align: justify;
    font-weight: normal;
}

.perfil{
    width: 280px;
}

.about-me__text2{
    font-size: 25px;
}

/*projects*/

.projects__title{
    font-size: 80px;
    top: 15%;
}

.projects__container{
    width: 90%;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 20px;
    top: 25%;
}

.projects__img{
    width: 33%;
    margin-bottom: 0;
    transition: transform 0.5s ease;
}

.projects__img:first-child {
        width: 33%;
    }

.projects__img:hover{
    transform: scale(1.6);
}

/*services*/

.services__container{
    width: 90%;
    top: 13%;
    padding: 100px 15px;
    border-radius: 20px;
}

.services__title{
    font-size: 70px;
    text-align: start;
}

.services__text{
    background-color: transparent;
    text-align: start;
    line-height: 1.3;
}

.box{
    text-align: center;
    top: 50%;
}

.contacts__container{
    top:15%;
}

.contacts__title{
    font-size: 60px;
    font-family: "roboto",sans-serif;
}
} 
