@charset "UTF-8";
.projects__img a {
  background-color: black;
  font-family: "roboto" sans-serif;
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  font-size: 15px;
  padding: 3px 20px;
}
.projects__img a:hover {
  background-color: #206b75;
  transition: 0.5s ease;
}

.section-3__btn {
  background-color: black;
  font-family: "roboto" sans-serif;
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  grid-area: btn-s3;
  padding: 10px;
}
.section-3__btn:hover {
  background-color: #206b75;
  transition: 0.5s ease;
}

@media (min-width: 768px) {
  .section-3__btn {
    background-color: black;
    font-family: "roboto" sans-serif;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    font-size: 45px;
    font-family: "Inter", sans-serif;
  }
  .section-3__btn:hover {
    background-color: #206b75;
    transition: 0.5s ease;
  }
  .img-proyecto a {
    padding: 5px 30px;
  }
}
@media (min-width: 1024px) {
  .btn-inicio {
    background-color: black;
    font-family: "roboto" sans-serif;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
  }
  .btn-inicio:hover {
    background-color: #206b75;
    transition: 0.5s ease;
  }
  .section-3__btn {
    background-color: black;
    font-family: "roboto" sans-serif;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    font-size: 55px;
  }
  .section-3__btn:hover {
    background-color: #206b75;
    transition: 0.5s ease;
  }
}
/*Diseño del nav*/
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #000000, #737373);
  z-index: 1000;
  opacity: 95%;
}

.nav__link {
  text-decoration: none;
  color: #d8d1cb;
}

.nav__logo {
  padding: 1rem;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}

.nav__list {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 12px;
  font-family: "roboto", sans-serif;
}

@media (min-width: 375px) {
  .nav {
    width: 80px;
  }
  .nav__logo {
    font-size: 32px;
  }
  .nav__list .nav__item {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .nav {
    width: 100px;
  }
  .nav__list {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
  }
  .nav__item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style: none;
  }
  .nav__item .nav__link:hover {
    padding: 12px 3px;
    color: #f0ebe6;
    border-bottom: 2px solid #f0ebe6;
    border-radius: 0 10px 0 0;
    background-color: black;
    transition: 0.5s ease;
  }
}
/*seccion del footer*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  gap: 10px;
  text-align: center;
  height: auto;
}

.footer__text {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
}

.footer__list {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.footer__list-item a {
  color: #d8d1cb;
}

@media (min-width: 375px) {
  .footer__text {
    font-size: 15px;
  }
  .footer__list {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 25px;
  }
  .footer__list {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@keyframes box-animation {
  0% {
    background-color: black;
  }
  50% {
    background-color: #206b75;
  }
  100% {
    background-color: black;
  }
}
.flex-col-center, .contacts__container, .projects__container, .section-2__container, .section-1__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*inicio de edicion de main del sitio web*/
main a {
  text-decoration: none;
  color: #f0ebe6;
}

/*seccion 1 del index*/
.inicio .section-1 {
  background-image: url("https://images.pexels.com/photos/16129688/pexels-photo-16129688.jpeg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.section-1__container {
  width: auto;
  height: auto;
  max-width: 78%;
  padding: 5% 8%;
  background-color: #206b75;
  text-align: center;
  border: 2px solid white;
  border-radius: 15px;
  justify-content: center;
  position: absolute;
  right: 2%;
  top: 5%;
  gap: 15px;
  opacity: 80%;
}

.section-1__title {
  line-height: 0.9;
  color: #f0ebe6;
  font-size: 30px;
}

.section-1__paragraph {
  font-size: 16px;
  color: #f0ebe6;
}

.section-1__btn {
  position: relative;
  background-color: #262727;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15px;
  bottom: 0.5%;
}

.section-1__img {
  display: none;
}

/*seccion 2 del index*/
.section-2 {
  height: 100vh;
  background-color: #000000;
}

.section-2__title {
  text-align: center;
  position: relative;
  top: 20px;
  color: #f0ebe6;
  font-size: 22px;
}

.section-2__container {
  justify-content: center;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50px;
  gap: 15px;
}

.section-2__img img {
  width: 100px;
  height: auto;
}

.section-2__paragraph {
  font-size: 14px;
  color: #f0ebe6;
  position: relative;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  top: 8%;
}

/* seccion 3 del index*/
.section-3 {
  height: 100vh;
  background-color: #a69e9e;
}

.section-3__container {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "titulo-s3" "img-s3" "t1" "btn-s3" "t2";
  gap: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 2%;
}

.section-3__title {
  grid-area: titulo-s3;
  color: white;
  font-size: 25px;
}

.section-3__img {
  grid-area: img-s3;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.section-3__text-1 {
  grid-area: t1;
  font-size: 18px;
  color: white;
}

.section-3__text-2 {
  grid-area: t2;
  font-size: 22px;
  color: white;
}

/*paginas secundarias*/
.pagina-secundaria .s1 {
  background-color: #a69e9e;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*seccion 1 del about-me*/
.about-me__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "aboutme-h1" "perfil" "aboutme-p2" "aboutme-p1";
  width: 60%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 5%;
  gap: 15px;
}

.about-me__title {
  color: white;
  font-size: 45px;
  grid-area: aboutme-h1;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.about-me__perfil {
  grid-area: perfil;
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
}

.about-me__text1 {
  grid-area: aboutme-p1;
  font-size: 16px;
}

.about-me__text2 {
  grid-area: aboutme-p2;
  font-size: 14px;
}

.aboutme-text {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: white;
}

/*seccion 1 del projects*/
.projects__title {
  text-align: center;
  color: white;
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  position: relative;
  top: 1%;
}

.projects__container {
  justify-content: flex-start;
  margin: 0 auto;
  width: 60%;
  gap: 20px;
  position: relative;
  top: 2%;
}

.projects__img {
  width: 100%;
  max-height: 195px;
  text-align: center;
}

.projects__img img {
  width: 100%;
  height: auto;
  max-height: 22vh;
  object-fit: contain;
  border-radius: 8px;
  background-color: #bccacc;
  margin-bottom: 8px;
}

/*seccion de services*/
.services__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "services-h1" "services-p" "box-1" "box-2";
  width: 70%;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 5%;
  gap: 30px;
  background-color: #7a8485;
  padding: 3% 5% 5%;
  border-radius: 20px;
}

.services__title {
  grid-area: services-h1;
  color: white;
  font-size: 30px;
  font-family: "inter", sans-serif;
}

.services__text {
  grid-area: services-p;
  font-size: 14px;
  color: white;
  font-family: "roboto", sans-serif;
  text-align: center;
}

.services__box1 {
  grid-area: box-1;
}

.services__box2 {
  grid-area: box-2;
}

.box {
  color: white;
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 2px 5px;
  animation: box-animation 10s infinite;
}

.box__title {
  font-size: 20px;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.box__text {
  text-align: justify;
  line-height: 1.1;
  font-size: 14px;
}

/*seccion de contact*/
.contacts__container {
  justify-content: space-around;
  width: 70%;
  height: 80%;
  background-color: #7a8485;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 10%;
}

.contacts__title {
  font-size: 35px;
  position: absolute;
  top: 5%;
}

.contacts__form {
  width: 80%;
  height: 75%;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 24px;
}

.form__textarea {
  height: 60%;
  font-size: 15px;
}

.form__button {
  width: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 8px 10px;
  background-color: #373538;
  color: white;
  border: solid 2px white;
}

.form__button:hover {
  background-color: #206b75;
  transition: 0.5s ease;
}

@media (min-width: 375px) {
  /*index*/
  .section-1 .s1 {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }
  .section-1__container {
    top: 3%;
    right: 3%;
    padding: 5% 8%;
  }
  .section-1__title {
    font-size: 45px;
  }
  .section-1__paragraph {
    font-size: 18px;
  }
  .section-2__title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    width: 60%;
    position: relative;
    margin: 0 auto;
  }
  .section-2__paragraph {
    width: 50%;
    font-size: 18px;
  }
  .section-3__title {
    font-size: 35px;
  }
  .section-3__img {
    max-width: 80%;
  }
  /*about-me*/
  .about-me__container {
    width: 50%;
    gap: 10px;
  }
  .about-me__title {
    font-size: 40px;
  }
  .perfil {
    width: 70%;
  }
  .about-me__text1 {
    font-size: 17px;
  }
  .about-me__text2 {
    font-size: 14px;
  }
  /*projects*/
  .projects__title {
    font-size: 40px;
  }
  .projects__container {
    top: 3%;
    gap: 20px;
  }
  /*services*/
  .services__container {
    top: 3%;
  }
  .services__title {
    font-size: 40px;
  }
  .services__text {
    font-size: 16px;
  }
  .box__text {
    font-size: 14px;
  }
}
@media (min-width: 460px) {
  .section-2__container {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    top: 20%;
  }
  .section-2__paragraph {
    width: 70%;
    top: 20%;
  }
  .section-3__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo-s3 img-s3" "t1 img-s3" "t2 btn-s3";
    width: 80%;
    width: auto;
    top: 5%;
  }
  .section-3__title {
    font-size: 30px;
  }
  .section-3__text-1 {
    font-size: 18px;
  }
  .section-3__text-2 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .section-1__container {
    gap: 10px;
  }
  .section-1__title {
    font-size: 60px;
  }
  .section-1__paragraph {
    font-size: 22px;
  }
  .section-1__btn {
    font-size: 24px;
    width: 80%;
  }
  .section-2__title {
    font-size: 34px;
  }
  .section-2__img img {
    width: 110px;
  }
  .section-2__paragraph {
    width: 60%;
    font-size: 22px;
  }
  .section-3__container {
    width: 80%;
    top: 20%;
  }
  .section-3__title {
    font-size: 60px;
  }
  .section-3__text-1 {
    font-size: 20px;
  }
  .section-3__text-2 {
    font-size: 24px;
  }
  /*about-me*/
  .about-me__title {
    font-size: 75px;
  }
  .perfil {
    width: 250px;
  }
  .about-me__text1 {
    font-size: 18zpx;
  }
  .about-me__text2 {
    font-size: 25px;
  }
  /*projects*/
  .projects__title {
    font-size: 60px;
    top: 10%;
  }
  .projects__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 72%;
    gap: 20px;
    top: 15%;
  }
  .projects__img {
    width: 45%;
    margin-bottom: 0;
  }
  .projects__img:first-child {
    width: 100%;
  }
  .services__container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "services-h1 box-1" "services-p box-2";
    width: 70%;
    align-content: center;
    align-items: center;
    background-color: #7a8485;
    padding: 5% 15px;
    border-radius: 20px;
    margin: 0 auto;
  }
  .services__title {
    font-size: 60px;
    text-align: center;
    position: absolute;
  }
  .services__text {
    line-height: 1;
    text-align: center;
    font-size: 25px;
    background-color: #373538;
    display: inline-block;
    padding: 10px 5px 10%;
    border-radius: 5px;
  }
  .services__box1 {
    position: relative;
    top: 40%;
  }
  .box__title {
    font-size: 30px;
  }
  .box__text {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .inicio .section-1 {
    background-image: none;
    background-color: #a69e9e;
  }
  .section-1__container {
    align-items: stretch;
    text-align: start;
    width: 60%;
    height: 80%;
    left: 1%;
    top: 10%;
    background: none;
    border: none;
    opacity: inherit;
  }
  .section-1__title {
    position: relative;
    font-size: 75px;
    color: white;
    margin: 5px;
  }
  .section-1__paragraph {
    color: white;
    font-size: 25px;
    margin: 5px;
  }
  .section-1__btn {
    width: 100%;
  }
  .section-1__btn:hover {
    background-color: #206b75;
  }
  .section-1__img {
    display: block;
    position: absolute;
    right: 10%;
    top: 15%;
    width: 350px;
    height: auto;
    border: solid 2px white;
  }
  .section-2__title {
    font-size: 60px;
    top: 90px;
  }
  .section-2__container {
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px;
    top: 20%;
  }
  .section-2__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    font-size: 24px bold;
  }
  .section-2__img img {
    width: 150px;
    height: auto;
    display: block;
  }
  .section-2__paragraph {
    font-size: 30px;
    width: 650px;
    top: 30%;
    font-family: "Intel", sans-serif;
  }
  .section-3__title {
    font-family: "Roboto", sans-serif;
    font-size: 70px;
  }
  .section-3__text-1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
  }
  .section-3__text-2 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
  }
  /*about-me*/
  .about-me__container {
    grid-template-columns: 2fr 1.5fr;
    grid-template-areas: "aboutme-h1 perfil" "aboutme-p1 perfil" "aboutme-p1 aboutme-p2";
    top: 25%;
    width: 90%;
    column-gap: 3rem;
  }
  .about-me__title {
    font-size: 100px;
    text-align: start;
  }
  .about-me__text1 {
    font-size: 28px;
    text-align: justify;
    font-weight: normal;
  }
  .perfil {
    width: 280px;
  }
  .about-me__text2 {
    font-size: 25px;
  }
  /*projects*/
  .projects__title {
    font-size: 80px;
    top: 15%;
  }
  .projects__container {
    width: 90%;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 20px;
    top: 25%;
  }
  .projects__img {
    width: 33%;
    margin-bottom: 0;
    transition: transform 0.5s ease;
  }
  .projects__img:first-child {
    width: 33%;
  }
  .projects__img:hover {
    transform: scale(1.6);
  }
  /*services*/
  .services__container {
    width: 90%;
    top: 13%;
    padding: 100px 15px;
    border-radius: 20px;
  }
  .services__title {
    font-size: 70px;
    text-align: start;
  }
  .services__text {
    background-color: transparent;
    text-align: start;
    line-height: 1.3;
  }
  .box {
    text-align: center;
    top: 50%;
  }
  .contacts__container {
    top: 15%;
  }
  .contacts__title {
    font-size: 60px;
    font-family: "roboto", sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
